## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps
import numpy as np

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

C:\Users\16472\anaconda3\lib\site-packages\requests\__init__.py:102: RequestsDependencyWarning: urllib3 (1.24.3) or chardet (2.0.3)/charset_normalizer (2.0.4) doesn't match a supported version!
  warnings.warn("urllib3 ({}) or chardet ({})/charset_normalizer ({}) doesn't match a supported "

In [2]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("../Weather_Database/WeatherPy_Database.csv")
city_data_df.head(5)

,City ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description,Rain inches (last 3hrs),Snow inches (last 3hrs)
0,0,Colares,PT,2022-02-13 22:17:54,38.7992,-9.4469,56.39,76,27,20.00,scattered clouds,0.0,0.0
1,1,Bredasdorp,ZA,2022-02-13 22:19:25,-34.5322,20.0403,67.32,68,96,9.22,overcast clouds,0.0,0.0
2,2,Hasaki,JP,2022-02-13 22:19:15,35.7333,140.8333,36.28,81,100,31.65,overcast clouds,0.0,0.0
3,3,Muyezerskiy,RU,2022-02-13 22:26:56,63.9333,31.6500,29.21,96,100,11.41,light snow,0.0,0.0
4,4,Souillac,MU,2022-02-13 22:19:58,-20.5167,57.5167,81.36,94,75,11.50,broken clouds,0.0,0.0

In [3]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is your minimum temperature preference? "))
max_temp = float(input("What is your maximum temperature preference? "))

What is your minimum temperature preference? 10
What is your maximum temperature preference? 50

In [4]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                  (city_data_df["Max Temp"] >= min_temp)]

preferred_cities_df.head(5)

,City ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description,Rain inches (last 3hrs),Snow inches (last 3hrs)
2,2,Hasaki,JP,2022-02-13 22:19:15,35.7333,140.8333,36.28,81,100,31.65,overcast clouds,0.0,0.0
3,3,Muyezerskiy,RU,2022-02-13 22:26:56,63.9333,31.6500,29.21,96,100,11.41,light snow,0.0,0.0
5,5,Gushi,CN,2022-02-13 22:26:56,34.6425,109.5843,38.23,73,41,8.48,scattered clouds,0.0,0.0
13,13,Athens,GR,2022-02-13 22:25:09,37.9795,23.7162,49.37,74,40,5.99,scattered clouds,0.0,0.0
25,25,Dingli,MT,2022-02-13 22:26:58,35.8614,14.3822,49.82,93,20,1.14,few clouds,0.0,0.0

In [5]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.isnull().sum()

City ID                    0
City                       0
Country                    0
Date                       0
Lat                        0
Lng                        0
Max Temp                   0
Humidity                   0
Cloudiness                 0
Wind Speed                 0
Current Description        0
Rain inches (last 3hrs)    0
Snow inches (last 3hrs)    0
dtype: int64

In [6]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
preferred_cities_df.dropna()

,City ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description,Rain inches (last 3hrs),Snow inches (last 3hrs)
2,2,Hasaki,JP,2022-02-13 22:19:15,35.7333,140.8333,36.28,81,100,31.65,overcast clouds,0.0,0.0
3,3,Muyezerskiy,RU,2022-02-13 22:26:56,63.9333,31.6500,29.21,96,100,11.41,light snow,0.0,0.0
5,5,Gushi,CN,2022-02-13 22:26:56,34.6425,109.5843,38.23,73,41,8.48,scattered clouds,0.0,0.0
13,13,Athens,GR,2022-02-13 22:25:09,37.9795,23.7162,49.37,74,40,5.99,scattered clouds,0.0,0.0
25,25,Dingli,MT,2022-02-13 22:26:58,35.8614,14.3822,49.82,93,20,1.14,few clouds,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
673,673,Polson,US,2022-02-13 22:28:55,47.6936,-114.1632,44.11,68,67,1.88,broken clouds,0.0,0.0
675,675,Hami,CN,2022-02-13 22:17:53,42.8000,93.4500,25.21,48,37,4.61,scattered clouds,0.0,0.0
677,677,Jurm,AF,2022-02-13 22:28:56,36.8648,70.8342,34.20,86,100,2.66,overcast clouds,0.0,0.0
678,678,Erzin,TR,2022-02-13 22:28:56,36.9559,36.2000,45.32,78,51,2.37,broken clouds,0.0,0.0
679,679,Nemuro,JP,2022-02-13 22:21:25,43.3236,145.5750,26.82,86,100,11.01,overcast clouds,0.0,0.0

In [7]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
clean_hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
clean_hotel_df["Hotel Name"] = ""
clean_hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
2,Hasaki,JP,36.28,overcast clouds,35.7333,140.8333,
3,Muyezerskiy,RU,29.21,light snow,63.9333,31.6500,
5,Gushi,CN,38.23,scattered clouds,34.6425,109.5843,
13,Athens,GR,49.37,scattered clouds,37.9795,23.7162,
25,Dingli,MT,49.82,few clouds,35.8614,14.3822,
27,Nanortalik,GL,28.02,overcast clouds,60.1432,-45.2371,
30,Albany,US,24.75,overcast clouds,42.6001,-73.9662,
34,Punta Arenas,CL,48.31,few clouds,-53.1500,-70.9167,
35,Sobolevo,RU,22.75,broken clouds,54.4299,31.8996,
46,Severo-Kurilsk,RU,23.16,scattered clouds,50.6789,156.1250,

In [8]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in clean_hotel_df.iterrows():
    
    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]

    params["location"] = f"{lat},{lng}"
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        clean_hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [9]:
# 7. Drop the rows where there is no Hotel Name.
clean_hotel_df.replace('',np.nan, inplace=True)
clean_hotel_df.dropna()

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
2,Hasaki,JP,36.28,overcast clouds,35.7333,140.8333,Hotel Sunrise Choshi
3,Muyezerskiy,RU,29.21,light snow,63.9333,31.6500,"Gostinitsa Ooo ""Lzkh ""Ledmozerskoye"""
13,Athens,GR,49.37,scattered clouds,37.9795,23.7162,Novotel Athenes
25,Dingli,MT,49.82,few clouds,35.8614,14.3822,The Xara Palace Relais & Chateaux
27,Nanortalik,GL,28.02,overcast clouds,60.1432,-45.2371,Hotel Kap Farvel
...,...,...,...,...,...,...,...
665,Marquette,US,11.34,overcast clouds,46.5333,-87.6335,Al Quaal Lodge
673,Polson,US,44.11,broken clouds,47.6936,-114.1632,Americas Best Value Port Polson Inn
675,Hami,CN,25.21,scattered clouds,42.8000,93.4500,Laoyutang Resort
678,Erzin,TR,45.32,broken clouds,36.9559,36.2000,Artemis Otel
679,Nemuro,JP,26.82,overcast clouds,43.3236,145.5750,Hotel Nemuro Kaiyoutei

In [10]:
# 8a. Create the output File (CSV)
output_data_file = "WeatherPy_vacation.csv"

# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [11]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [12]:
# 11a. Add a marker layer for each city to the map. 
locations = clean_hotel_df[["Lat", "Lng"]]
max_temp = clean_hotel_df["Max Temp"]
fig = gmaps.figure(center=(15.0, 31.0), zoom_level=1.0)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)


# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))